<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentReport" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="testCases.SearchTest" />
			<class name="testCases.LoginTest" />
			<class name="testCases.SortByDiscountTest" />
			<class name="testCases.AddToCartTest" />
			<class name="testCases.BrandFilterTest" />
			<class name="testCases.PriceCalculationTest" />


		</classes>
	</test> <!--
	Test -->
</suite> 
 